# Ignore Python virtual environment
.venv/
__pycache__/
*.pyc
requirements.txt
generate_portfolio.py

# Ignore scratch Python compiler script
compile_fas.py

# Ignore AutoCAD backup and temp files
*.bak
*.sv$
*.dwl
*.dwl2

# Ignore project workspace settings
.github/

# Ignore raw AutoLISP source files to protect intellectual property
*.lsp
!portfolio_generator.lsp
